# fastapi[standard]
# jinja2
# pyjwt
# passlib[bcrypt]

# pyaudio
# git+https://github.com/openai/whisper.git
assemblyai

# gradio
# SpeechRecognition

streamlit
# transformers

langchain
langchain-mistralai
langchain_core
# gTTS
pyttsx3
# streamlit-components